{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
   Canaan travel
{% endblock %}

{% block header %}
    <header class="about__header" style="background-image: url('{% static "images/2-MT3gnj4GU.jpg" %}') ">
        <h1 class="about__header-title">{% trans 'О нас' %}</h1>
    </header>
{% endblock %}

{% block content %}
    <main class="about__main">
        <div class="container about__main-content">
            <h2>{% trans 'Коротко о нас' %}</h2>
            <p>
                {% blocktrans %}Туристическая компания Canaan-travel начала свою деятельность в 2006 году. Мы
                    поставили перед собой цель
                    открыть все разнообразие мира для каждого человека — перед узбекистанцами открыть двери в другие
                    страны,
                    а для иностранцев — в Центральную Азию. Таким образом путешественник знакомится с культурой других
                    народов, что помогает лучше понимать друг друга в формате «человек-человек» безвсяких национальных
                    признаков.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}В 2019 году мы организовали свыше 1 100 туров более чем для 5 500 туристов. На начало
                    2020 года наш штат
                    превысил 50 человек. В период карантина мы не прекращали свою деятельность и организовали более 20
                    чартерных перелётов.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}Мы верим, что глобализация — неизбежный и максимально полезный этап развития мирового
                    общества. Ведьтолько научившись понимать и уважать друг друга, мы сможем сообща построить лучший
                    мир, сохранив его для
                    наших потомков.{% endblocktrans %}
            </p>
            <h2>{% trans 'Наши ценности' %}</h2>
            <div>
                <p>{% blocktrans %}Открытость — для нас важно работать прозрачно и быть честными по отношению к каждому
                    партнёру и
                    клиенту.Доступность — мы всегда предложим нашему клиенту наиболее приятные
                    цены.{% endblocktrans %}</p>
                <p>{% blocktrans %}Комплексность — наша команда подходит профессионально ко всем задачам по организации
                    вашего
                    путешествия и всегда готова предложить максимальный пакет услуг.{% endblocktrans %}</p>
                <p>{% blocktrans %}Осознанность — на каждом этапе организации туризма мы придерживаемся
                    правил{% endblocktrans %}</p>
                <p>{% blocktrans %}Travelife — сохранение природных и культурных объектов и минимизация вредных
                    воздействий человека на
                    окружающую среду.{% endblocktrans %}</p>
            </div>
            <h2>{% trans 'Наши услуги' %}</h2>
            <div>
                <p>
                    {% blocktrans %}<span>Открытость</span> — для нас важно работать прозрачно и быть честными по
                        отношению к каждому
                        партнёру и клиенту.Доступность — мы всегда предложим нашему клиенту наиболее приятные
                        цены.{% endblocktrans %}
                </p>
                <ul>
                    {% blocktrans %}<li>Бронирование и оформление авиа- и ж/д билетов по любым направлениям;</li>
                        <li>Аренда автотранспорта любого класса по маршруту тура в стране;</li>
                        <li>Визовая поддержка;</li>
                        <li>Встреча в VIP/CIP залах аэропортов;</li>
                        <li>Экскурсионное обслуживание и услуги гидов-переводчиков;</li>
                        <li>Бронирование и размещение в гостиницах различного класса;</li>
                        <li>Организация досуга, культурно-развлекательных мероприятий;</li>
                        <li>Организация шоппинга и гастрономических экскурсий.</li>{% endblocktrans %}
                </ul>
            </div>
            <div>
                <p>{% blocktrans %}Наша компания предлагает все необходимые для комфортных путешествий услуги. В рамках
                    организации
                    индивидуальных и групповых туров{% endblocktrans %}:</p>
                <ul>
                    {% blocktrans %}<li>Разработка концепции мероприятия;</li>
                        <li>Подбор конференц-площадки мероприятия;</li>
                        <li>Калькуляция бюджета, составление сметы;</li>
                        <li>Оформление интерьеров;</li>
                        <li>Организация выступления артистов, профессиональных ведущих и звёзд;</li>
                        <li>Обеспечение техническим оборудованием;</li>
                        <li>Заказ сувенирной и рекламной продукции;</li>
                        <li>Проведение тимбилдингов.</li>
                        <li>Организация шоппинга и гастрономических экскурсий.</li>{% endblocktrans %}
                </ul>
            </div>
            <h2>{% trans 'Наши преимущества' %}</h2>
            <div>
                <ul>
                    {% blocktrans %}<li>Многолетний опыт работы;</li>
                        <li>Масштабность деятельности;</li>
                        <li>Собственная авиакасса;</li>
                        <li>Уникальные маршруты по Великому Шёлковому Пути;</li>
                        <li>Грузовые авиаперевозки</li>{% endblocktrans %}
                </ul>
            </div>
            {% if clients %}
                <h3>{% trans 'Среди наших почётных клиентов' %}</h3>
            {% endif %}
        </div>
        <section class="partners">
        {% if clients %}
            <div class="swiper mySwiper partners-swiper">
                <div class="swiper-wrapper">
                    {% for client in clients %}
                        <div class="swiper-slide partners-swiper-slide">
                            <img src="{{ client.img.url }}" alt="{{ client.company_name }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
            <a href=""><span>{% trans 'Заказать тур' %}</span></a>
        </section>
    </main>
{% endblock %}