{% extends 'base.html' %}
{% load i18n static %}


{% block title %}
    {% trans 'ВИЗА — ИНФОРМАЦИЯ ТУРИСТАМ' %}
{% endblock %}

{% block header %}
    <header class="about__header mission__header" style="background-image: url('{% static 'images/Mission.jpg' %}')">
        <h1 class="about__header-title">{% trans 'ВИЗА — ИНФОРМАЦИЯ ТУРИСТАМ' %}</h1>
    </header>
{% endblock %}

{% block content %}
    <main class="container tourist__info-main">
        <p>
            {% blocktrans %}Республика Узбекистан на сегодняшний день имеет различный статус
                дипломатических отношений со странами мирового сообщества. Для иностранных граждан всего мира способ
                въезда в
                Узбекистан может отличаться.{% endblocktrans %}
        </p>
        <p>{% trans 'Существует несколько режимов въезда в Республику Узбекистан:' %}</p>
        <ul>
            {% blocktrans %}<li>безвизовый режим</li>
                <li>упрощенный режим</li>
                <li>въезд по электронной визе</li>
                <li>въезд с приглашением</li>
                <li>въезд с оформлением в аэропорту</li>
                <li>транзитная виза в Узбекистан</li>
                <li>безвизовый въезд при транзите через Узбекистан</li>{% endblocktrans %}
        </ul>
        <h2>{% trans 'Безвизовый режим' %}</h2>
        <p>
            {% blocktrans %}Для въезда в Узбекистан резидентам нижеприведенных стран получение визы не требуется. Въезд
                на
                определенные
                законодательством сроки осуществляется по <span>заграничному паспорту</span>.{% endblocktrans %}
        </p>
        {% blocktrans %}<h3>Бессрочно</h3>
            <p>Азербайджан<br>Грузия<br>Россия<br>Армения<br>Казахстан<br>Украина<br>Белорусия<br>Молдова</p>
            <h3>Въезд сроком на 60 дней</h3>
            <p>Кыргызстан</p>
            <h3>Въезд сроком на 30 дней</h3>
            <p>Австралия<br>Исландия<br>Россия<br>Сан-Марино<br>Австралия</p>{% endblocktrans %}
        <p>
            {% blocktrans %}Если граждане <span>вышеперечисленных государств</span> имеют необходимость оставаться на
                территории
                Республики
                Узбекистан больше установленных сроков, они должны получить въездную визу в соответствии с установленным
                МИД
                порядком.{% endblocktrans %}
        </p>
        <h2>{% trans 'Упрощенный порядок получения визы' %}</h2>
        <p>
            {% blocktrans %}Для резидентов следующих государств введен упрощенный порядок получения виз в течение
                <span>3 рабочих дней</span>,
                не требующий предоставления в МИД приглашения со стороны юридического/физического лица из Республики
                Узбекистан:{% endblocktrans %}
        </p>
        {% blocktrans %}<p>Албания<br>Кабо-Верде<br>Парагвай<br>Алжир<br>Камбоджа<br>Перу<br>Ангола<br>Камерун</p>
            <p>Самоа<br>Антигуа и Барбуда<br>Катар<br>Алжир<br>Саудовская Аравия<br>Багамские Острова<br>Кирибати<br>Сейшельские
                Острова</p>
            <p>Бангладеш<br>Кабо-Верде<br>Китай<br>Сенегал<br>Барбадос<br>Колумбия<br>Сент-Винсент и Гренадины<br>Бахрейн
            </p>
            <p>КНДР<br>Кабо-Верде<br>Сент-Китс и Невис<br>Белиз<br>Коста-Рикa<br>Колумбия<br>Сент-Люсия<br>Боливия</p>
            <p>Кот-д’Ивуар<br>Содружество Доминикие<br>Бутан<br>Куба<br>Соединенные Штаты<br>Америки<br>Вануату<br>Кувейт
            </p>
            <p>Соломоновы Острова<br>Венесуэла<br>Лаос<br>Суринам<br>Вьетнам<br>Ливан<br>Таиланд<br>Габон</p>
            <p>Маврикий<br>Тонга<br>Гайана<br>Македония<br>Тринидад и Тобаго<br>Гана<br>Мальдивы<br>Тунис
            </p>{% endblocktrans %}
        <p>
            {% blocktrans %}Гватемала<br>Марокко<br>Уругвай<br>Гондурас<br>Тринидад и Тобаго<br>Маршалловы Острова<br>
                Федеративные
                Штаты<br>Микронезиигонконг{% endblocktrans %}
        </p>
        <p>
            {% trans 'Мексика<br>Фиджи<br>Уругвай<br>Гренада<br>Науру<br>Филиппины<br>Доминиканская Республика<br>Непал' %}
        </p>
        <p>
            {% trans 'Шри-Ланка<br>Египет<br>Никарагуа<br>Индия<br>Науру<br>Объединенные Арабские Эмираты<br>Эль-Сальвадор<br>Иордания' %}
        </p>
        <p>{% trans 'Оман<br>Южно-Африканская Республика<br>Палау<br>Ямайка<br>Панама' %}</p>
        <p>
            {% blocktrans %}Оформление визы происходит по личному обращению иностранных граждан в соответствующее
                <span>дипломатическое представительство или консульство Республики Узбекистан</span>
                в стране их пребывания со следующим списком документов:{% endblocktrans %}
        </p>
        <ul>
            {% blocktrans %}<li><span>электронная визовая анкета</span> (в распечатанном и заполненном виде);</li>
                <li><span>оригинал паспорта</span> (срок действия которого должен превышать срок действия визы не менее
                    чем на 3
                    месяца);
                </li>
                <li><span>1 цветная фотография</span> (паспортного размера);</li>
                <li><span>консульский сбор</span> (согласно тарифам приведенным в разделе <span>Пошлина</span>)
                </li>{% endblocktrans %}
        </ul>
        <h2>{% trans 'Электронная туристическая виза' %}</h2>
        <p>
            {% blocktrans %}Резиденты <span>вышеперечисленных государств</span> также имеют возможность получить
                электронную
                <span>туристическую</span>
                визу, заполнив анкету на портале <span>E-VISA</span> и оплатив пошлину в размере 2 <span>0 USD</span>.
                Электронная виза предоставляется в формате <span>PDF</span> на e-mail заявителя и не вклеивается в
                паспорт.{% endblocktrans %}
        </p>
        <ul>
            {% blocktrans %}<li>Длительность рассмотрения поданных документов или электронной заявки составляет
                    <span>3 рабочих дня</span>.
                </li>
                <li>Действие электронной визы составляет <span>90 дней</span> со дня выдачи.</li>
                <li>Срок пребывания на территории Узбекистана по электронной визе составляет <span>30 дней</span>.
                </li>{% endblocktrans %}
        </ul>
        <p>
            <span>{% blocktrans %}В случае если заявитель имеет двойное гражданство, электронная визовая анкета должна
                быть заполнена
                данными того паспорта, на основании которого планируется въезд в Республику Узбекистан. В случае замены
                паспорта в период действия электронной визы, электронную визу необходимо получить
                повторно.{% endblocktrans %}
            </span>
        </p>
        <h2>{% trans 'Въезд с приглашением' %}</h2>
        <p>
            {% blocktrans %}Для граждан всех остальных стран въездная виза оформляется на основании
                <span>визовой поддержки</span>.
                Для
                оформления визовой поддержки, Вам необходимо предоставить нашей компании следующий список
                документов:{% endblocktrans %}
        </p>
        <ul>
            {% blocktrans %}<li><span>Заполненную анкету для визовой поддержки <a href="">(скачать)</a></span></li>
                <li><span>Сканированную копию Вашего паспорта</span></li>
                <li><span>Сканированную копию справки с места работы</span></li>{% endblocktrans %}
        </ul>
        <p>
            {% blocktrans %}После получения нами всей необходимой информации, мы оформим визовую поддержку в МИД
                Республики
                Узбекистан в
                Ташкенте которое рассмотрит Ваши документы в течение <span>7 рабочих дней</span>.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                <span>МИД Республики Узбекистан оставляет имеет право отказать в выдаче разрешения, не предоставляя причин отказа. В случае отказа уплаченная пошлина не возвращается.</span>
                Получив разрешение МИД, мы вышлем Вам на почту <span>номер телекса</span> после чего Вы сможете
                обратиться в
                <span>дипломатическое представительство или консульство Республики Узбекистан</span> в стране вашего
                пребывания
                с перечнем следующих документов:{% endblocktrans %}
        </p>
        <ul>
            {% blocktrans %}<li><span>Оригинал паспорта</span> (срок действия которого должен превышать срок действия визы не менее
                    чем на 3
                    месяца);
                </li>
                <li><span>Заполненная визовая анкета в 2 экземплярах;</span></li>
                <li><span>2 цветные фотографии</span> (паспортного размера);</li>
                <li><span>Номер телекса</span> (высланный Вам на почту);</li>
                <li><span>Консульский сбор</span> (согласно тарифам приведенным в разделе <span>Пошлина</span>)
                </li>{% endblocktrans %}
        </ul>
        <p>{% trans 'Длительность рассмотрения поданных документов составляет <span>3 рабочих дня</span>.' %}</p>
        <p>
            {% blocktrans %}<span>Оформление визовой поддержки прекращается если клиент отказывается от ранее забронированного пакета туристических услуг.</span>{% endblocktrans %}
        </p>
        <h2>{% trans 'Виза с оформлением в аэропорту' %}</h2>
        <p>
            {% blocktrans %}Если в стране Вашего пребывания
                <span>нет дипломатического представительства или консульства Республики Узбекистан</span>,
                то Вы сможете оформить въездную визу по прибытию в международный аэропорт имени Ислама Каримова в
                <span>секторе визового обеспечения</span>.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}Для этого Вам необходимо оформить визовую поддержку в нашей компании прислав нам следующий
                перечень
                документов:{% endblocktrans %}
        </p>
        <ul>
            {% blocktrans %}<li><span>Заполненную анкету для визовой поддержки</span></li>
                <li><span>Сканированную копию Вашего паспорта</span></li>
                <li><span>Сканированную копию справки с места работы</span></li>
                <li><span>Сканированные копии авиабилетов или брони</span></li>{% endblocktrans %}
        </ul>
        <p>
            {% blocktrans %}После получения нами всей необходимой информации, мы оформим визовую поддержку в МИД
                Республики
                Узбекистан в
                Ташкенте которое рассмотрит Ваши документы в течение <span>7 рабочих дней</span>.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}Получив разрешение МИД, мы вышлем Вам на почту официальный разрешающий документ с
                <span>номером телекса</span>.Данный
                документ должен быть предъявлен Вами при прохождении паспортного контроля в стране Вашего пребывания и
                на его
                основании Вам оформляется виза по прибытию в международный аэропорт имени «Ислама Каримова» в секторе
                визового
                обеспечения МИД Республики Узбекистан.{% endblocktrans %}
        </p>
        <h2>{% trans 'Транзитная виза в Узбекистан' %}</h2>
        <p>
            {% blocktrans %}Иностранные граждане следующие транзитом через Республику Узбекистан,
                <span>для получения транзитной визы сроком на 72 часа </span>,
                должны предоставить в
                <span>дипломатическое представительство или консульство Республики Узбекистан</span> в
                стране своего пребывания <span>весь перечень документов</span> необходимый для оформления туристической
                визы, а
                также приложить к нему:{% endblocktrans %}
        </p>
        <ul>
            <li><span>{% trans 'Визу государства следования' %};</span></li>
            <li>
                <span>{% trans 'Проездные документы с подтвержденной датой отправления из Узбекистана в страну следования' %};</span>
            </li>
        </ul>
        <p>{% trans 'Длительность рассмотрения поданных документов составляет <span>3 рабочих дня</span>' %}</p>
        <h2>{% trans 'Безвизовый въезд при транзите через Узбекистан' %}</h2>
        <p>
            {% blocktrans %}Для граждан ряда государств (<span>список стран приводится ниже</span>) въезжающих в
                Республику
                Узбекистан на
                срок <span>до 5 суток</span> с последующим выездом в третью страну, (
                <span>при условии наличия у них авиабилетов, оформленных через национальную авиакомпанию Uzbekistan Airways как в Узбекистан, так и в третью страну</span>
                ),
                установлен <span>краткосрочный безвизовый режим.</span>{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}<span>Государство следования не может являться отправным государством транзитного переезда.</span> Для
                граждан
                нижеперечисленных стран введен <span>безвизовый въезд при транзите</span> через Узбекистан сроком не
                более чем
                на <span>5 суток</span>{% endblocktrans %}:
        </p>
        <p>
            {% trans 'Албания<br>Кабо-Верде<br>Парагвай<br>Алжир<br>Камбоджа<br>Перу<br>Ангола<br>Камерун' %}
        </p>
        <p>
            {% trans 'Самоа<br>Антигуа и Барбуда<br>Катар<br>Алжир<br>Саудовская Аравия<br>Багамские Острова<br>Кирибати<br>Сейшельские Острова' %}
        </p>
        <p>
            {% trans 'Бангладеш<br>Кабо-Верде<br>Китай<br>Сенегал<br>Барбадос<br>Колумбия<br>Сент-Винсент и Гренадины<br>Бахрейн' %}
        </p>
        <p>
            {% trans 'КНДР<br>Кабо-Верде<br>Сент-Китс и Невис<br>Белиз<br>Коста-Рикa<br>Колумбия<br>Сент-Люсия<br>Боливия' %}
        </p>
        <p>
            {% trans 'Кот-д’Ивуар<br>Содружество Доминикие<br>Бутан<br>Куба<br>Соединенные Штаты<br>Америки<br>Вануату<br>Кувейт' %}
        </p>
        <p>
            {% trans 'Соломоновы Острова<br>Венесуэла<br>Лаос<br>Суринам<br>Вьетнам<br>Ливан<br>Таиланд<br>Габон' %}
        </p>

        <p>
            {% trans 'Гватемала<br>Марокко<br>Уругвай<br>Гондурас<br>Тринидад и Тобаго<br>Маршалловы Острова<br>Федеративные Штаты<br>Микронезиигонконг' %}
        </p>
        <p>{% trans 'Маврикий<br>Тонга<br>Гайана<br>Македония<br>Тринидад и Тобаго<br>Гана<br>Мальдивы<br>Тунис' %}</p>
        <p>
            {% trans 'Мексика<br>Фиджи<br>Уругвай<br>Гренада<br>Науру<br>Филиппины<br>Доминиканская Республика<br>Непал' %}
        </p>
        <p>
            {% trans 'Шри-Ланка<br>Египет<br>Никарагуа<br>Индия<br>Науру<br>Объединенные Арабские Эмираты<br>Эль-Сальвадор<br>Иордания' %}
        </p>
        <p>{% trans 'Оман<br>Южно-Африканская Республика<br>Палау<br>Ямайка<br>Панама' %}</p>
        <h2>{% trans 'Пошлина' %}</h2>
        <p>{% trans 'За оформление и выдачу виз предусмотрены следующие тарифы консульских сборов:' %}</p>
        <p><span>{% trans '1. Однократные визы:' %}</span></p>
        <ul>
            {% blocktrans %}<li>до 7 дней — 40 USD;</li>
                <li>до 15 дней — 50 USD;</li>
                <li>до 30 дней — 60 USD;</li>
                <li>до 3 месяцев — 80 USD;</li>
                <li>до 6 месяцев — 120 USD;</li>
                <li>до 1 года — 160 USD.</li>{% endblocktrans %}
        </ul>
        <p><span>{% trans 'За каждую дополнительную кратность визы ставка тарифа увеличивается на 10 USD' %}.</span></p>
        <p><span>{% trans '2. Многократные визы:' %}</span></p>
        <ul>
            {% blocktrans %}<li>до 6 месяцев — 150 USD;</li>
                <li>до 1 года — 250 USD.</li>{% endblocktrans %}
        </ul>
        <p><span>{% trans '3. Транзитные визы:' %}</span></p>
        <ul>
            {% blocktrans %}<li>до 72 часов — 40 USD;</li>
                <li>за двукратную транзитную визу — 50 USD.</li>{% endblocktrans %}
        </ul>
        <p><span>{% trans '4. Групповые визы</span>(не менее 5 человек, исключая детей до 16 лет):' %}</span></p>
        <ul>
            {% blocktrans %}<li>до 15 дней — 15 USD с каждого человека;</li>
                <li>до 30 дней — 25 USD с каждого человека.</li>{% endblocktrans %}
        </ul>
        <p>
            <span>
                {% trans 'При оформлении визы требуется также уплатить фактический расход. Размеры таких расходов зависят от места оформления визы и не зависят от гражданства заявителя.' %}
            </span>
        </p>
        <h2>{% trans 'ВАЖНО ЗНАТЬ' %}</h2>
        <p>
            {% blocktrans %}Для иностранных граждан, не достигших <span>16-летнего возраста</span>, въезд в Республику
                Узбекистан не
                требует
                получения визы и осуществляется по собственному заграничному паспорту на срок действия визы
                сопровождающего
                лица, но <span>не более 90 суток</span> со дня въезда в страну. Если ребенок путешествует с одним из
                родителей,
                с собой желательно иметь нотариально заверенное разрешение на выезд ребенка из родной страны от второго
                родителя
                для предупреждения возможных недоразумений в аэропорту отправления.{% endblocktrans %}
        </p>
    </main>
{% endblock %}