{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
canaan-travel
{% endblock %}

{% block header %}
    <header class="about__header mission__header" style="background-image: url('{% static 'images/Mission.jpg' %}')">
        <h1 class="about__header-title">{% trans 'Наша миссия'|upper %}</h1>
    </header>
{% endblock %}

{% block content %}
    <main class="about__main">
        <div class="container about__main-content">
            <h2>{% trans "Открыть мир, сохранив его" %}</h2>
            <p>
                {% blocktrans %}Центральная Азия — древнейший оплот науки и культуры. Многие века назад здесь совершались гениальные
                открытия, сооружались уникальные архитектурные шедевры, появлялись новые веяния и ремёсла, ставшие
                столпами человеческой цивилизации.{% endblocktrans %}
            </p>
            <p>{% blocktrans %}<span>Мы считаем, что наш регион</span> — достояние всего мира. Именно по этой причине мы хотим
                познакомить с этими землями каждого жителя Земли. При этом мы не забываем ни на минуту о том, что под
                «каждым жителем Земли» подразумеваются и будущие поколения. Вот почему мы уделяем так много внимания
                устойчивому туризму — направлению деятельности, которое призвано сохранить природу, культуру и историю
                нашей родной земли.{% endblocktrans %}</p>
            <h2>{% trans "Цели компании" %}</h2>
            <div>
                <ul>
                    {% blocktrans %}<li>Популяризация стран региона</li>
                    <li>Сохранение природы</li>
                    <li>Глобализация</li>{% endblocktrans %}
                </ul>
            </div>
            <h2>{% trans "Видение" %}</h2>
            <p>
                {% blocktrans %}Мир огромен и прекрасен, но возможности человека ограничены. Увидеть каждый уголок планеты человеку не
                удастся, но мы ставим перед собой задачу сделать всё возможное для этого. Для достижения этой цели
                компания использует следующие средства:{% endblocktrans %}
            </p>
            <div>
                <ul>
{% blocktrans %}<li>Помощь в путешествиях иностранцам и местным жителям;</li>
<li>Просветительская деятельность — публикация информационных материалов и поддержка проектов в
    сферах истории, востоковедения, науки и техники;
</li>
<li>Благотворительные программы по защите экологии;</li>
<li>Сотрудничество с Travelife и фондами защиты природы;</li>
<li>Повышение профессионализма сотрудников и качества услуг;</li>
<li>Повышение интереса к Узбекистану в мире.</li>{% endblocktrans %}
                </ul>
            </div>
            <a href="{% url 'booking' %}"><span>{% trans 'Заказать тур' %}</span></a>
        </div>
    </main>
{% endblock %}