.nav__list {
    align-items: center;
}

.select2-container--default {
    width: auto !important;
    /*border: 1px solid #fff;*/
    cursor: pointer;
    /*padding: 3px 7px;*/
    position: relative;
}

.select2-container--default .select2-selection--single {
    background: transparent;
    border: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #7329B0;
    font-weight: 600;
}

.select2-results__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background: #3a3a3a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    /*margin-top: 4px;*/
    /* opacity: 0; */
    padding: 5px;
    position: absolute;
    /* z-index: -1; */
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container--default .select2-results__option--selected {
    background: transparent !important;
}

.select2-results__option--highlighted {
    color: #7329B0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: transparent;
    color: #7329B0;
}

.select2-results__option {
    color: #fff;
    display: block;
    padding: 5px 10px;
    width: 100%;
    font-size: 18px;
    margin: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #7329B0 transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #7329B0 transparent;
}

/*.tours__item-content {*/
/*    height: 100%;*/
/*}*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 50px 0;
    list-style: none;
}

.pagination li {
    margin: 0 17px;
    font-size: 30px;
    line-height: 1;
}

.pagination li a.page-numbers {
    color: #2C1E1E;
    opacity: 0.5;
}

.pagination li a.page-numbers:hover,
.pagination li .page-numbers.current {
    color: #846666;
    text-decoration: underline;
    opacity: 1;
}

.blog__title--custom {
    position: static;
    color: #7329B0;
    transform: none;
}

.wprt-container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.wprt-container iframe {
    width: 100%;
}

.toursDetailPage__main-content ul li {
    display: flex;
    align-items: start;
}


.header__content,
.more__info,
.travel__info,
.about__header,
.hotels__main-header,
.mission__header,
.booking__main-intro {
    background-image: none;
}

.tour__detail-main-content img {
    width: 100% !important;
    height: 440px !important;
}

.header__form button {
    padding: 16px 48px;
    border-radius: 12px;
    transition: .5s;
    background: #7329B0;
    color: #fff;
    font-size: 20px;
}

.modal-form {
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    max-width: 450px;
    margin: 0 auto 60px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.paymentother {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.paymentother button {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
}

.paymentother button svg {
    height: 18px;
}

.paymentother button:last-child svg {
    height: 22px;
}

.separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
}

.separator p {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    margin: auto;
}

.separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.split {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.split input {
    width: auto !important;
    max-width: 100% !important;
}

.input_label {
    font-size: 12px;
    color: #8B8E98;
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkout {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: #7329B0;
    color: ghostwhite;
    overflow: hidden;
}

.checkout span {
    position: relative;
    transition: color 0.6s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.checkout::before,
.checkout::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.checkout::before {
    content: "";
    background: #7329B0;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
}

.checkout:hover::before {
    transform: translate3d(100%, 0, 0);
}

.checkout:active {
    transform: scale(0.95);
}

/*.about__main-content ul {*/
/*    background: rgba(255, 0, 231, .75);*/
/*    padding: 20px;*/
/*    padding-left: 40px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border-radius: 20px;*/
/*    gap: 15px;*/

/*}*/
/*.about__main-content li {*/
/*    color: #fff;*/
/*    list-style: circle;*/
/*    font-weight: 700;*/
/*}*/

/*.about__main-content div {*/
/*    background: transparent !important;*/
/*    padding: 0 !important;*/
/*}*/


button.accordion {
    display: flex;
    align-items: center;
}

button.accordion b {
    margin-right: 10px;
}

.accordion svg {
    margin-left: auto;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

button.accordion.is-open svg {
    transform: rotate(180deg);
}

@media (max-width: 984px) {
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        margin-right: 0;
        padding: 0;
    }
    .navbar-brand img {
        width: 90px;
        height: 90px;
    }
}
@media (max-width: 678px) {
    .footer__content-item-list {
        padding-left: 0;
    }

    .header__content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .special__title {
        font-size: 16px !important;
        margin-bottom: 15px;
    }

    .special__subtitle {
        margin-top: 0 !important;
        font-size: 20px !important;
    }

    .special__btn {
        margin-top: 10px !important;
        padding: 9px 12px !important;
    }

    .special__btn span {
        font-size: 16px !important;
    }

    .travel__info-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    .traveler__reviews-content .swiper-slide {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .swiper-slide-data {
        position: static !important;
    }

    .traveler__reviews-content .swiper {
        height: auto;
    }

    .about__main-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .about__main-content div ul {
        padding: 20px !important;
    }

    .hotels__main-text {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .toursDetailPage__main-content p {
        font-size: 16px !important;
    }

    .toursDetailPage__main {
        padding-left: 15px;
        padding-right: 15px;
    }

    .toursDetailPage__main-content-priceInfo-left ul {
        padding-left: 0;
    }

    .toursDetailPage__main-content-priceInfo-left, .toursDetailPage__main-content-priceInfo-right {
        max-width: 100% !important;
        min-width: auto !important;
    }

    .toursDetailPage__main-content ul {
        padding-left: 0;
    }

    .split input {
        width: 100% !important;
    }
}
